<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Gear List!</title>
  </head>
  <body>
    <h1>Fill in the blanks for the gear you'll need on your trip</h1>

    <form action="/tripgear" method="post">
      <label for="destination">Destination:</label>
      <input id="destination" name="destination" type="text">
      <label for="clothes">Clothes:</label>
      <input id="clothes" name="clothes" type="text">
      <label for="food">Food:</label>
      <input id="food" name="food" type="text">
      <label for="money">Money in dollars:</label>
      <input id="money" name="money" type="number">
      <button type="submit">Submit</button>
    </form>

  </body>
</html>